
.progress {border-radius: 5px}
.is-fixed {position: fixed !important;}
.is-absolute {position: absolute !important;}
.is-gradient-main {
  background: linear-gradient(45deg, darken($primary, 18%) 0%, $primary 100%);
}
.is-border-primary {
  border-left: 7px solid $primary
}

*[class*="is-decorate-border"] {
  border-left: 7px solid transparent;

}
.is-decorate-border-primary {border-color: $primary;}
.is-decorate-border-white {border-color: $white;}

.has-background-transparent {background-color: transparent;}
